<footer class="footer-distributed">
  <section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick Link</h5>
          <ul class="list-unstyled quick-links">
            <li>
              <a href="javascript:void();">
                <i class="fa fa-angle-double-right"></i>Home</a>
            </li>
            <li>
              <a href="#aboutUs">
                <i class="fa fa-angle-double-right"></i>About Us</a>
            </li>
            <li>
              <a href="javascript:void();">
                <i class="fa fa-angle-double-right"></i>Travel Plan</a>
            </li>
            <li>
              <a href="javascript:void();">
                <i class="fa fa-angle-double-right"></i>Career</a>
            </li>
            <li>
              <a href="#contactUs">
                <i class="fa fa-angle-double-right"></i>Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">

          <ul class="list-unstyled quick-links">
            <h5>Travel Plan</h5>
            <ul class="list-unstyled quick-links">
              <li>
                <a href="javascript:void();">
                  <i class="fa fa-angle-double-right"></i>Culture & Heritage</a>
              </li>
              <li>
                <a href="javascript:void();">
                  <i class="fa fa-angle-double-right"></i>Nature</a>
              </li>
              <li>
                <a href="javascript:void();">
                  <i class="fa fa-angle-double-right"></i>Foodie</a>
              </li>
              <li>
                <a href="javascript:void();">
                  <i class="fa fa-angle-double-right"></i>Photography</a>
              </li>
              <li>
                <a href="https://wwwe.sunlimetech.com">
                  <i class="fa fa-angle-double-right"></i>University tour</a>
              </li>
            </ul>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item">
              <a href="javascript:void();">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();" target="_blank">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
        <hr/>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="h6">All right Reversed.

          </p>
        </div>
        <hr/>
      </div>
    </div>
  </section>

  <!-- <div class="footer-right">

    <a href="#">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="#">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="#">
      <i class="fa fa-github"></i>
    </a>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">About us</a>
      ·
      <a href="#">Register</a>
      ·
      <a href="#">Login In</a>
      ·
      <a href="#">Partnership</a>
      ·
      <a href="#">Contact</a>
    </p>

    <p>NAVISOR &copy; 2015</p>
  </div> -->


</footer>