<footer class="footer-distributed">

  <div class="footer-right">

    <a href="#">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="#">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="#">
      <i class="fa fa-github"></i>
    </a>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">About us</a>
      ·
      <a href="#">Register</a>
      ·
      <a href="#">Login In</a>
      ·
      <a href="#">Partnership</a>
      ·
      <a href="#">Contact</a>
    </p>

    <p>NAVISOR &copy; 2015</p>
  </div>


</footer>
