<div>
  <label>Name: </label>
  <input type="text" required [(ngModel)]="user.firstName" />
  <label>Birthday: </label>
  <input type="text" required [(ngModel)]="user.birthday" />
  <label>Email: </label>
  <input type="text" required [(ngModel)]="user.email" />
  <label>Type: {{type}}</label>

  <button (click)="saveProfile()">Save</button>
  <button (click)="sendEmailVerification()">Resend Verification Email</button>
  <button (click)="showResetPassword(true)">Reset Password</button>
  <div *ngIf="show">
    <label>Current Password: </label>
    <input type="text" required [(ngModel)]="password" />
    <label>New Password: </label>
    <input type="text" required [(ngModel)]="newPassword" />
    <label>Confrim New Password: </label>
    <input type="text" required [(ngModel)]="newPasswordConfirm" />
    <button (click)="resetPassword()">Reset</button>


  </div>
</div>
