<div>
  <label>Name: </label>
  <input type="text" required [(ngModel)]="user.name" />
  <label>Birthday: </label>
  <input type="text" required [(ngModel)]="user.birthday" />
  <label>Email: </label>
  <input type="text" required [(ngModel)]="user.email" />
  <label>Type: {{type}}</label>

  <button (click)="saveProfile()">Save</button>
  <button (click)="sendEmailVerification()">Resend Verification Email</button>
  <button (click)="showResetPassword(true)">Reset Password</button>
  <div *ngIf="show">
    <label>Current Password: </label>
    <input type="text" required [(ngModel)]="password" />
    <label>New Password: </label>
    <input type="text" required [(ngModel)]="newPassword" />
    <label>Confrim New Password: </label>
    <input type="text" required [(ngModel)]="newPasswordConfirm" />
    <button (click)="resetPassword()">Reset</button>

    <footer class="footer-distributed">

      <div class="footer-right">

        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="#">
          <i class="fa fa-github"></i>
        </a>

      </div>

      <div class="footer-left">

        <p class="footer-links">
          <a href="#">Home</a>
          ·
          <a href="#">About us</a>
          ·
          <a href="#">Register</a>
          ·
          <a href="#">Login In</a>
          ·
          <a href="#">Partnership</a>
          ·
          <a href="#">Contact</a>
        </p>

        <p>NAVISOR &copy; 2015</p>
      </div>

    </footer>
  </div>
</div>