<div class="tm-main-content" id="top">
  <div class="tm-section-2">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="tm-section-title">Our Premium Travel Plans</h2>
          <p class="tm-color-white tm-section-subtitle">Having no idea of what to do, where to visit? Here are some great recommendations from our professional navigator.</p>

        </div>
      </div>
    </div>
  </div>

  <div class="tm-section tm-position-relative">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
      <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>
    </svg>

  </div>

  <div class="tm-section tm-section-pad tm-bg-img" id="tm-section-5">
    <div class="container ie-h-align-center-fix">
      <div class="row tm-flex-align-center">
        <div class="col-xs-12 col-md-12 col-lg-3 col-xl-3 tm-media-title-container">

          <h3 class="tm-color-primary tm-font-semibold tm-section-subtitle-2">Tailor-made Travel Plans</h3>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-9 col-xl-9 mt-0 mt-sm-3">
          <div class="ml-auto tm-bg-white-shadow tm-pad tm-media-container">
            <article class="media tm-margin-b-20 tm-media-1">
              <img src="https://lh3.googleusercontent.com/Ouy5rL18oY_UMH_gObQ-ZGWrlDsQG8IlyT_8u9sxOrObP2o8dGZWodrONthlUahjszmDDg5V_jBmDmsljKCils94pWQtGWvaCnk_K8IDihPtZoeNA4oIg1O1mGtkQMTPPC77lEhmFeZ0Hc2-vly-8vDbSKkvD21NulrlShlw8m8m1HCtjDKDROzPb6IrC0pUU1XgeeQJ781SiislogjF9JhBreYqRbNg8eZyM2KW0UwFYJCVTjrHMqg86KlLLosrcJvTlz5bAVATaFcYsJbyxEM3RLNNwOeB3L6B_fGhCF1DvLPJkVGE7MrlgxeJvA-2oSYzfQKRl0-SGw5e8OrrEhegf1bSnDT0eg90Kdtt55mDHm6xrRD9tQRmxWfapBXrYpHh9-Pn-OoB197qOcW6rm7SBMCnAGaIJEvr4zUUAxLivNMpjup8mGf6h-KcQI8T-iwSHHHbdeR-e5puj0g5dd0yqC-ch1R8Wd25KsLBs9dx6XvFMmJedzcA2bOwNXM7x9kg51P1IgugpiGCyevR67poHjrnGTrrkHqDSyyPuflC7O_E19T0VCf6NqwB5hDgRVsHqc8xovdvOnE4woYE3rEq_8omQH6vMXiPrg=w300-h184-no"
                alt="Image">
              <div class="media-body tm-media-body-1 tm-media-body-v-center">
                <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">Cultural & Heritage</h3>
                <p>Our navigaotors will bring you to experience how Western and Eastern cultures mix well in Hong Kong. Museums,
                  art galleries, historical monuments...The amazing cultures in Hong Kong will definitely amaze you.
                </p>
                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">View More</a>
              </div>
            </article>
            <p>&nbsp;</p>
            <article class="media tm-margin-b-20 tm-media-1">
              <img src="https://lh3.googleusercontent.com/-p4rR47ry6QeY1WfIObOZS0tzBYZtZ27mfyQ4pvjvZNSr3SkmLZWLBz9ksvi57n2hE7hdV6QVojhZVPcc8E-TAuMcE8lcXRdmT8tUdrhI8ayBYTuFGozSV3Xtyd6SUlG6IV3le1RapaZPJh0PQewzspJGAQctEO2BShLB4om0R2eCI1AvOnnyvXG9y0ooah4N8VmezP9P6vbsaDtrutdGIUZ4qeKTqAaaQZGAT7CM_IHI5fgqKOEifQIk2zOVUH5hmeOhxautDx-2Q89aO5_ZzGOjAXtR8ktXbT3Cr8-OskJ02Y-f3Gruzc6dhO1R9TagiyiPnIGZbEkQ65y6GDTo_xZp6WOGvIGYl1OHeWZSAHpxtrdgqeAE5Vk02sW1gzzMvDBOMARhc23bHgDgdu6TXz_7Fw3vN1GL5N1FFEIFGzAURiS19uy0RmpRvqpgqz2C7y-xRdiLhNqUhO5XsaW-x2Zl9IJ6SMtkuVo-w2J8aNwCk-fHKPshjHnmsS_jHgVA98_u_IFuy4AqLCScosJ4kwsNrXJwSN7oR1cZxgPEH6G6EgVwU6qphUzwngDW9hXS_GGZe8QSlkaiGdyJgz8BHDPji_9BXcKR0BKKA=w300-h184-no"
                alt="Image">
              <div class="media-body tm-media-body-1 tm-media-body-v-center">
                <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">Nature</h3>
                <p>Hong Kong is a concrete jungle in which modern high-rise buildings are everywhere. Away from the hustle and
                  bustle, in fact there are a lot of natural spots which worth a visit.
                </p>
                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">View More</a>
              </div>
            </article>
            <p>&nbsp;</p>
            <article class="media tm-margin-b-20 tm-media-1">
              <img src="https://lh3.googleusercontent.com/7z5vVzzbtq8PMF7m8ZHo_PBsL4C4aJ96ecTXf4HrsDC6dQV-29R4CY68o-foe9ML-AxLlbc6a8f2hDxpvXhmQRcfDt3ZGWczCIuZM93grFrzWqwJCfp9kfMKEH5UdnFl5rIFmC1BrtotmXNBNcyEVi4lJrJKWVjeWqEqeEBDfWhsXSRWabFs862U8drPre-mUGOc8EnstUaO-O1yuYi6l0jwsmt75Q6C0ecnJCSavptUltjweGTaTGY-GxAIiwn4unu1Xy5PXPLcFy_DpYC19dOyJaN0nJIAZ_6WeHkB4hoB-d7K6p4FZuxbhNKow1SXZertukKt7z8vmQP4hXUrkyfmss04BByuJftezEtG6PFHdfysp-9nZUK7bq8vuML8I4odYMUiYHjBEx0dKzcjTy94xDSHiow3NDBgz4GcyUP4WSW3bHceZ6st8p2OjrLc9p4zksXCfG2Slr0LzHT4ZN6p4Hu4fFAJHXHJJ20tQhpSv3gPIeQhj2Aj1EHIIQuNIsgEs4ehAuu9zSLLi5FTT_nnbWzkAmYJ0R3B-oBhnKGQAClJH1NYCOXzoBt9rTbAIWgwJHbRNV625ZiiVKgmlbwSKqYuCCYDU1PDxQ=w300-h184-no"
                alt="Image">
              <div class="media-body tm-media-body-1 tm-media-body-v-center">
                <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">Foodie</h3>
                <p>Are you always looking for delicate cuisines in Hong Kong? Do you want to know how special local food is?
                  Our navigators will lead you to visit restaurants they usually go and unique places for street food. </p>
                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">View More</a>
              </div>
            </article>
            <p>&nbsp;</p>
            <article class="media tm-margin-b-20 tm-media-1">
              <img src="https://lh3.googleusercontent.com/vvALcZwR5KvkXNDD4a91JT1911gDG_4iuMvzvOPpSmoIyhmVp4xCh3EXPXPYT5sG7LfgfTXtRxI0jOoyeUa67f-pIfgRUdMA7GczWq-OdqkPo-BjGcvyH7elTVolNSgUMlU3LhHYbWmv2QRSt150bRig1PwmDo9FwbE-xTxZW4BDJuEgEaTA_TxwrBNEfvjy_NxI3u6EQ7BI6UI3K6y4qcrSJtYE0qWaWX2ggGB4jtPLl19iFPf0gwsrjqte09f2oUvE6tct71xcjYiyWo5Yk176NzJZ9SIniWGjRTI9BM0rezqTJT4-bDWJUUa23xcFZ7GcFBnUQGQ3yYV5vXsWDKW3WW2exRzTip4F65B2qCutn6BjioLzGssRIQd2UDBd58yW-zb9cCmAqOhzAyrXXFYkFOFPfBa1zMsYzdvlzmqzWpBZXhDPu5b0if5XgjVEp07FrWBEDqCNj5vZ695dJWxOxS7BtWqH9sIG1Hr2vBHGlczaGwYYO1hcFH8XZ3XYH5y6SFAsHt1zz-xNdKb6YyJOx6SogQ_6KWt9rnERwlInWA4ARRWWDSS77o3jA-br2hXaExdfrQucYYksgMxg5QYhPu2NSA6uxj-9PA=w300-h184-no"
                alt="Image">
              <div class="media-body tm-media-body-1 tm-media-body-v-center">
                <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">Photography</h3>
                <p>Have been long for changing your profile picture on Facebook? Then our photography tours should be on your
                  must-do list. With the companion of our navigators, you won't miss the chance of taking marvellous pictures
                  around Hong Kong.</p>
                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">View More</a>
              </div>
            </article>
            <p>&nbsp;</p>
            <article class="media tm-margin-b-20 tm-media-1">
              <img src="https://lh3.googleusercontent.com/rTnovbNBEghdZIoYtjpzqSPCAl24zxm_scWDs1lQRf9TAJahveRMXsR049Fm3ylagtmsuTxDgHTiNj3DQDEJvp5EN5g95UCkta7NOC5xCid8wbyzcoIHLa6fvIR4Vo9-sePy7G5IhciTVSZijsNcE9RWQgNedb1WdTBrD0jTBhw_tnuj7GaSuED0ciF9w_UX_34ZJRmF5Q8uPbcyGH85t7upjLr4epWHYnJsemAEinSo4ho3uMHbWhWveitN_hcmwJ4w1lks_Rp_8nGYTEUH6LXJPRpsu4Obcr1UQt8WRt5mAqxitqindyUQdcghnkjx0xOQfEVU0M37yJSqqrOKZKe2d0HDyHDjeXdX0lHj6h2233j1N7CYULOgaG_kPivg6-efPvb0ros14KOMnktslD5gd8TFZt_Cs38wKrw19W6jrIK37-wd6roaNHiSpgfmrFd6t3wJ45xSNFd31i-q6GxFRXc9AFJqD-fmvJ7B6xrQiHJ4vfUmQUuAct397q2gHTQ2VtaKmE9sQmmLJHKoG0B8bkS7gRj0rbJvn5irWMZqznUgfLmDm6DFDRSKWJvds31ZGnaNVkI1WDQVPObJKzv8bhPhcINSr4DnIQ=w300-h184-no"
                alt="Image">
              <div class="media-body tm-media-body-1 tm-media-body-v-center">
                <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">University Tour</h3>
                <p>Amazed by the unique cultures and buildings at different universities in Hong Kong? Our navigators who are
                  studing inor graduatd from that university will guide your campus tour and let you to understand more on
                  the university education in Hong Kong.</p>
                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">View More</a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<footer class="tm-bg-dark-blue">
  <div class="container">
    <div class="row">
      <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
        Copyright &copy;
        <span class="tm-current-year">2018</span> Navisor - Designed by
        <a href="http://www.tooplate.com" class="tm-color-primary tm-font-normal" target="_parent">Navisor</a>
      </p>
    </div>
  </div>
</footer>