<html>

<head>
  <title>Trip Planning Form</title>
</head>

<body>
  <center>
    <h2>Trip Planning Form</h2>

    <table border="0.5" cellpadding="10">
      <tr>
        <td>
          <h4>Trip Type
            <h4>
        </td>
        <td>
          <select name="selectType" id="TypeSelector">
            <option value="Cultural & Heritage">Cultural & Heritage</option>
            <option value="Nature">Nature</option>
            <option value="Foodie">Foodie</option>
            <option value="Photography">Photography</option>
            <option value="University Tour">University Tour</option>
            <option value="Others">Others</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <h4>Budget (each traveller)</h4>
        </td>
        <td>
          <input type="checkbox" name="500-1000" value="500-1000">$500-$1000
          <input type="checkbox" name="1000-1500" value="1000-1500">$1000-$1500
          <input type="checkbox" name="1500-2000" value="1500-2000">$1500-$2000
          <input type="checkbox" name=">2000" value=">2000">>$2000</td>
        <br>
      </tr>

      <tr>
        <td>
          <h4>Number of Travellers</h4>
        </td>
        <td>
          <input type="duration" name="duration"> persons</td>
      </tr>

      <tr>
        <td>
          <h4>Place</h4>
        </td>
        <td>
          <textarea rows="4" cols="50" name="place">Input here...</textarea>
        </td>
      </tr>

      <tr>
        <td>
          <h4>Activity</h4>
        </td>
        <td>
          <textarea rows="4" cols="50" name="place">Input here...</textarea>
        </td>
      </tr>
      </tr>


      <tr>
        <td>
          <h4>Food</h4>
        </td>
        <td>
          <textarea rows="4" cols="50" name="place">Input here...</textarea>
        </td>
      </tr>
      </tr>


      <tr>
        <td>
          <h4>Duration</h4>
        </td>
        <td>
          <input type="duration" name="duration"> days</td>
      </tr>

      <tr>
        <td>
          <h4>Remarks</h4>
        </td>
        <td>
          <textarea rows="4" cols="50" name="place">Input here...</textarea>
        </td>
      </tr>
      </tr>
    </table>

    <input type="submit" value="Submit">
    <input type="submit" value="Reset">
  </center>

  <br>
</body>

</html>