<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-34">
          Account Login
        </span>

        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
          <input id="first-name" class="input100" type="text" name="username" placeholder="User name" [(ngModel)]="email">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
          <input class="input100" type="password" name="pass" placeholder="Password" [(ngModel)]="password">
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="login()">
            Sign in
          </button>
        </div>

        <div class="w-full text-center p-t-27 p-b-239">
          <span class="txt1">
            Forgot
          </span>

          <a class="txt2" (click)="forgetPassword()">
            User name / password?
          </a>
        </div>

        <div class="w-full text-center">
          <a class="txt3" (click)="gotoRegister()">
            Sign Up
          </a>
        </div>
      </form>

      <div class="login100-more" style="background-image: url('https://lh3.googleusercontent.com/y_2sLDD_FpUHxgmqdwTC8gok-N-lKTbG4b8mYN--wGNqNs6IcxLnIE_-JwH2q4LUbiYOo4iKLe0aA6S8Sf6R6ZTfIbwv5qqdRUkQdDtNtraDzKFn6UU3VtoFRQkr49SFxLvJfoWi159OaUayYKz4adoImi7iz5PK0tFcMkxQ6agjBRyO_jZbBFbE_1y7OhC96Akh3wL0OI2DdnUU_GiKUssfg7tOJDj7Z4u_OgzK41ueKC8jMXMTUpw9YJsQkyKUrVImD2_il1jfOA9W5pT1SPVW8dEklg4xYL7a1copmuNLlymbyggQsCIByLLCkxY8O24GymYWujNTILFZ7WClaFnwWGoed65m31lbzHJUaYpmOTobMmeRAD3dYoUQXW6yf38pSgFl4wH_Krb_sVMeg7z0E0WE5ECCiYC2NJ3hEjb_UeowznrKc5qkW4toi28rI8gvvzMpJtH-PnAy4uWLk_ukgQZfOYfV5If2L4l22zzgSbN5XMrpSB2Re8KXMXSU0Xgidd9srON4exqEpA9F_W3jty1u3I_XthuMeMM0PENb1Tg2BqkGAzNDxZWSeX3ERxDZwf0uibjacMemG4i9PTKVEDqcTHAm4IPsV26u=w619-h888-no');"></div>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>
