<div class="container">
  <div>
    <h1>Email: </h1>
    <input type="text" required [(ngModel)]="email">
  </div>
  <div>
    <h1>Password: </h1>
    <input type="password" required [(ngModel)]="password">
  </div>
  <button (click)="login()">Login</button>
  <button (click)="gotoRegister()">Register</button>
  <button (click)="showResetPassword(true)">Forgot Password</button>
  <div *ngIf="show">
    <label>Please fill in the email for password reset</label>
    <input type="text" [(ngModel)]="resetPasswordEmail" />
    <button (click)="sendResetPasswordEmail()">Send Reset Password Email</button>
  </div>
</div>
