<div>
  <div>New Place</div>
  <div>
    <div>
      Name:
    </div>
    <input required [(ngModel)]="place.name" />
  </div>
  <div>
    <div>
      Price:
    </div>
    <input required [(ngModel)]="place.price" />
  </div>
  <div>
    <div>
      type:
    </div>
    <select required name="theme" class="form-control tm-select" id="theme" [(ngModel)]="place.type">
      <option value="">Theme</option>
      <option value="1">Cultural & Heritage</option>
      <option value="2">Nature</option>
      <option value="3">Foodie</option>
      <option value="4">Photography</option>
      <option value="5">University Tour</option>
      <option value="6">Others</option>
    </select>
  </div>
  <div>
    <div>description</div>
    <textarea required [(ngModel)]="place.description">

    </textarea>
  </div>
</div>
