<br>
<div class="tm-section tm-bg-img" id="tm-section-1">
  <div class="tm-bg-white ie-container-width-fix-2">
    <div class="container ie-h-align-center-fix">

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h3>Trip Planning Form</h3>
      <br>

      <div class="form-row tm-search-form-row">
        <h6>Trip Type:</h6>
        <div class="form-group tm-form-element tm-form-element-2">
          <select name="adult" class="form-control tm-select" id="adult">
            <option value="Cultural & Heritage">Cultural & Heritage</option>
            <option value="Nature">Nature</option>
            <option value="Foodie">Foodie</option>
            <option value="Photography">Photography</option>
            <option value="University Tour">University Tour</option>
            <option value="Others">Others</option>
          </select>

        </div>

        <div class="form-row tm-search-form-row">
          <h6>Destination:</h6>
          <div class="form-group tm-form-element tm-form-element-100">
            <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
            <input name="destination" type="text" class="form-control" id="inputDest" placeholder=" Type your destination...">
          </div>
        </div>

        <div class="form-row tm-search-form-row">
          <h6>Number of Travellers:</h6>
          <div class="form-group tm-form-element tm-form-element-100">
            <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
            <input name="Travellers" type="text" class="form-control" id="inputTravellers" placeholder=" Number of travellers…" style="width:220px">
          </div>Persons
        </div>

        <div class="form-row tm-search-form-row">
          <h6>Duration:</h6>
          <div class="form-group tm-form-element tm-form-element-100">
            <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
            <input name="duration" type="text" class="form-control" id="inputDuration" placeholder=" Number of days…" style="width:250px">
          </div>Days
        </div>

        <div class="form-row tm-search-form-row">
          <h6>Budget (each traveller):</h6>
          <div class="form-group tm-form-element tm-form-element-2">
            <select name="adult" class="form-control tm-select" id="adult">
              <option value="$500-$1000">$500-$1000</option>
              <option value="$1001-$1500">$1001-$1500</option>
              <option value="$1500-$2000">$1500-$2000</option>
              <option value="$2000+">$2000+</option>
            </select>
          </div>
        </div>

        <div class="form-row tm-search-form-row">
          <h6>Activity:</h6>
          <div *ngFor="let eventId of trip.events">
            <app-custom-event [tripId]='tripId' [eventId]='eventId'></app-custom-event>
          </div>
          <div class="form-group tm-form-element tm-form-element-100">
            <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
            <table id="addRow">
              <tr>
                <td>Place:
                  <input name="place" id="inputPlace">
                  <br>Time:
                  <input name="time" id="inputTime">
                </td>
              </tr>
            </table>
            <br>
            <button type="submit" onclick="add()">+</button>
          </div>
        </div>

        <div class="form-row tm-search-form-row">
          <h6>Food:</h6>
          <div class="form-group tm-form-element tm-form-element-100">
            <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
            <input name="food" type="text" class="form-control" id="inputFood" placeholder=" Type the food that you want to try…" style="width:400px">
          </div>
        </div>

        <div class="form-row tm-search-form-row">
          <h6>Remarks:</h6>
          <div class="form-group tm-form-element tm-form-element-200">
            <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
            <input name="remark" type="text" class="form-control" id="inputRemarks" placeholder=" Type any remarks…" style="width:600px">
          </div>
        </div>

        <div class="form-row tm-search-form-row">
          <div class="form-row tm-search-form-row">
            <button type="submit" class="btn btn-primary tm-btn-search">Submit</button>
          </div>
        </div>

        <div class="form-row clearfix pl-2 pr-2 tm-fx-col-xs">
          <a href="#" class="ie-10-ml-auto ml-auto mt-1 tm-font-semibold tm-color-primary">Help</a>
        </div>
      </div>
    </div>
  </div>
</div>
