<mat-card>
  <div fxLayout="row">
    <img mat-card-md-img src="{{attraction.photoUrl}}" fxFlex="50" height=300px max-width=400px>
    <div fxFlex="50" class="margin">
      <!-- <mat-card-header> -->
      <!-- <mat-card-title>{{attraction.name}}</mat-card-title> -->
      <h3>{{attraction.name}}</h3>
      <!-- </mat-card-header> -->
      <mat-card-content>
        <div>{{attraction.description}}</div>
        <div>
          <!-- <h5> -->
          <mat-chip-list>
            <mat-chip style="margin-bottom: 5px">
              <!-- <mat-icon>attach_money</mat-icon> -->
              $ {{attraction.price}}
            </mat-chip>
          </mat-chip-list>

          <mat-chip-list (ariaOrientation)="'horizontal'">
            <mat-chip>
              Start Time: {{startTime}}
            </mat-chip>
            <mat-chip>
              End Time: {{endTime}}
            </mat-chip>
          </mat-chip-list>
        </div>
      </mat-card-content>
    </div>

  </div>

</mat-card>
