<div class="tm-section-2">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="tm-section-title" *ngIf="!confirm">View Plan Details</h2>
        <h2 class="tm-section-title" *ngIf="confirm">Book a Travel Plan Now</h2>
        <div>&nbsp;</div>

        <a class="tm-color-white tm-btn-white-bordered" *ngIf="!confirm" (click)="backToSearch()">BACK TO SEARCH RESULTS</a>
        <a class="tm-color-white tm-btn-white-bordered" *ngIf="confirm" (click)="backToDetail()">BACK TO RESULTS DETAILS</a>
      </div>
    </div>
  </div>
</div>

<div class="tm-section tm-position-relative">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
    <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>
  </svg>

</div>

<div class="tm-section tm-section-pad tm-bg-gray" id="tm-section-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="tm-article-carousel">
          <article class="tm-bg-white mr-2 tm-carousel-item">
            <div>&nbsp;</div>
            <img src="{{trip.photoUrl}}" alt="Image" class="img-fluid">
            <div class="tm-article-pad">
              <header>
                <h3 class="text-uppercase tm-article-title-2">{{trip.name}}</h3>
              </header>
              <p>{{trip.description}}</p>

            </div>
            <div *ngIf="targetObject == 'Trip'">
              <div *ngFor="let event of trip.events">
                <app-search-event-item [attractionId]=event.attractionId [startTime]=event.startTime [endTime]=event.endTime></app-search-event-item>
              </div>
            </div>
            <div *ngIf="targetObject == 'Place'">
              Place
            </div>
            <div *ngIf="targetObject == 'Attraction'">
              Attraction
            </div>
          </article>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-recommended-container">
        <div class="tm-bg-white">

          <div class="tm-bg-primary tm-sidebar-pad">
            <h3 class="tm-color-white tm-sidebar-title" *ngIf="!confirm">Book This Plan Now</h3>
            <h3 class="tm-color-white tm-sidebar-title" *ngIf="confirm">Confirm Booking Details</h3>
          </div>
          <div class="tm-sidebar-pad-2">
            <p>Regular Price: ${{trip.price}}</p>
            <!-- <p>Early Bird: $1,080</p> -->
            <div align="center">
              <a class="btn btn-primary tm-btn-search" href="#bookNow">Book Now</a>
            </div>
          </div>
        </div>

        <div class="tm-bg-primary tm-sidebar-pad">
          <h3 class="tm-color-white tm-sidebar-title">Route</h3>
          <p class="tm-color-white tm-margin-b-0 tm-font-light">View the map to explore the route.</p>
        </div>

        <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyA778sssK6IwYi0E_SkFIm7lHJPyUFi_t0&origin=St.+John's+Cathedral,Hong+Kong&waypoints=Former+Central+Police+Station+Compound|Whitestone+Gallery+HK+Hollywood+Road&destination=Hong+Kong+City+Hall&avoid=tolls|highways"
          allowfullscreen>
        </iframe>

        <div>&nbsp;</div>


        <div class="tm-bg-primary tm-sidebar-pad">
          <h3 class="tm-color-white tm-sidebar-title">Browse Other Plans</h3>
          <p class="tm-color-white tm-margin-b-0 tm-font-light">Explore other travel plans which fit your needs.</p>
        </div>
        <div class="tm-sidebar-pad-2">
          <a class="media tm-media tm-recommended-item">
            <img src="img/tn-img-01.jpg" alt="Image">
            <div class="media-body tm-media-body tm-bg-gray">
              <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Cultural & Heritage</h4>
            </div>
          </a>
          <a class="media tm-media tm-recommended-item">
            <img src="img/tn-img-02.jpg" alt="Image">
            <div class="media-body tm-media-body tm-bg-gray">
              <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Nature</h4>
            </div>
          </a>
          <a class="media tm-media tm-recommended-item">
            <img src="img/tn-img-03.jpg" alt="Image">
            <div class="media-body tm-media-body tm-bg-gray">
              <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Foodie </h4>
            </div>
          </a>
          <a class="media tm-media tm-recommended-item">
            <img src="img/tn-img-04.jpg" alt="Image">
            <div class="media-body tm-media-body tm-bg-gray">
              <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Photography</h4>
            </div>
          </a>

          <a class="media tm-media tm-recommended-item">
            <img src="img/tn-img-04.jpg" alt="Image">
            <div class="media-body tm-media-body tm-bg-gray">
              <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Univerity Tour</h4>
            </div>
          </a>
        </div>

        <div class="tm-bg-primary tm-sidebar-pad">
          <h3 class="tm-color-white tm-sidebar-title">Want to know more?</h3>
          <p class="tm-color-white tm-margin-b-0 tm-font-light">Leave your enquiries about this plan here and we will get back to you soon.</p>
        </div>

        <div>&nbsp;</div>

        <form action="index.html" method="post" class="contact-form">
          <div class="form-group">
            <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name" required/>
          </div>
          <div class="form-group">
            <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email" required/>
          </div>
          <div class="form-group">
            <input type="text" id="contact_subject" name="contact_subject" class="form-control" placeholder="Subject" required/>
          </div>
          <div class="form-group">
            <textarea id="contact_message" name="contact_message" class="form-control" rows="9" placeholder="Message" required></textarea>
          </div>
          <div align="center">
            <button type="submit" class="btn btn-primary tm-btn-primary">Send A Message Now</button>
          </div>
        </form>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>
</div>
<div class="tm-section tm-section-pad tm-bg-img book-now-bg" id="bookNow">
  <div class="container ie-h-align-center-fix">
    <div class="row tm-flex-align-center">


      <div class="column">
        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 tm-media-title-container">
          <h3 class="tm-color-primary tm-font-semibold tm-section-subtitle-1">Confirm Booking Details</h3>
        </div>
      </div>


      <div class="col-xs-12 col-md-12 col-lg-9 col-xl-9 mt-0 mt-sm-3">
        <article class="tm-bg-white mr-2 tm-carousel-item">
          <div>&nbsp;</div>

          <article class="tm-booking-pad">
            <header>
              <h3 class="text-uppercase tm-article-title-2">Stepping into the Nature with Your Family</h3>
            </header>
            <div>&nbsp;</div>
            <p>Price: $1,080</p>
            <p>Number of days: 2</p>
            <p>With accommodation included</p>
            <div>&nbsp;</div>
            <div align="left">
              <a class="text-uppercase btn-primary .tm-btn-booking" (click)="gotoPayment()">Confirm</a>
            </div>

          </article>
        </article>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>