.tm-recommended-container .tm-section-pad {
  padding: 30px 50px;
}

.tm-article-pad {
  padding: 25px;
}

.tm-booking-pad {
  padding: 50px;
  width: 1000px;
  align-items: center;
}

.tm-sidebar-pad {
  padding: 15px 20px;
}

.tm-sidebar-pad-2 {
  padding: 21px 10px;
}

.tm-section {
  min-height: 70px;
}

.tm-section-pad {
  padding-top: 50px;
  padding-bottom: 100px;
}

.book-now-bg {
  background-image: url('https://farm5.staticflickr.com/4786/26083763157_c2f5109198_b.jpg');
}

.tm-bg-img {
  justify-content: center;
}

#contact_message {
  height: 100px;
}

.form-control:focus {
  border-color: #ee5057;
  box-shadow: 0 0 0 0.2rem rgba(238, 80, 87, 25);
}

select:not([multiple]) {
  padding: 0.5em;
  padding-right: 1.5em;
}

.tm-btn-primary {
  display: block;
  text-align: center;
  font-size: 0.75rem;
}

.column {
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 100%;
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-form .form-control {
  background-color: #f4f4f4;
  border: none;
  font-size: 0.8rem;
  font-weight: 300;
  margin-left: 15px;
  width: 320px;
}

.clearfix:after {
  content: ' ';
  /* Older brofwser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
