<div class="tm-section tm-section-pad tm-bg-img" id="tm-section-5">
  <div class="container ie-h-align-center-fix">
    <div class="row tm-flex-align-center">
      <div class="col-xs-12 col-md-12 col-lg-3 col-xl-3 tm-media-title-container">
        <h2 class="text-uppercase tm-section-title-2">Together, </h2>
        <h3 class="tm-color-primary tm-font-semibold tm-section-subtitle-2">we'll build a best travel website</h3>
      </div>

      <div class="col-xs-12 col-md-12 col-lg-9 col-xl-9 mt-0 mt-sm-3">
        <div class="ml-auto tm-bg-white-shadow tm-pad tm-media-container">
          <article class="media tm-margin-b-20 tm-media-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/career%2Fimg%2FjoinUs.jpg?alt=media&token=8831d850-07de-4c85-a0c3-41fa963508f0"
              alt="Image">
            <div class="media-body tm-media-body-1 tm-media-body-v-center">
              <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">We do great work when we’re surrounded by people who inspire and challenge us</h3>
              <p>We need global thinkers to invent new ways to travel, to provide our customers the best travelling experience</p>
            </div>
          </article>
          <article class="media tm-margin-b-20 tm-media-1">
            <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/career%2Fimg%2FcomputerDesk.jpg?alt=media&token=914d9ec4-ca1b-4a89-9bcf-9089bc1994cc"
              alt="Image">
            <div class="media-body tm-media-body-1 tm-media-body-v-center">
              <h3 class="tm-font-semibold tm-article-title-3">We cultivate an environment that’s fun and rewards ingenuity, determination and diverse perspectives.</h3>
              <p>Please send me an email for job inquiry with your cv. Our email: jobs.navisor@gmail.com</p>
            </div>
          </article>
        </div>
      </div>

    </div>
  </div>
</div>