<div class="tm-section tm-section-pad tm-bg-img" id="tm-section-5">
  <div class="container ie-h-align-center-fix">
    <div class="row tm-flex-align-center">
      <div class="col-xs-12 col-md-12 col-lg-3 col-xl-3 tm-media-title-container">
        <h2 class="text-uppercase tm-section-title-2">Together, </h2>
        <h3 class="tm-color-primary tm-font-semibold tm-section-subtitle-2">we'll build a best travel website</h3>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-9 col-xl-9 mt-0 mt-sm-3">
        <div class="ml-auto tm-bg-white-shadow tm-pad tm-media-container">
          <article class="media tm-margin-b-20 tm-media-1">
            <img src="https://farm1.staticflickr.com/793/27257780788_9f47cc4fbe_o.jpg" alt="Image">
            <div class="media-body tm-media-body-1 tm-media-body-v-center">
              <!--Table-->
              <table class="table table-striped">
                <!--Table head-->
                <thead>
                  <tr>
                    <th>Job Id</th>
                    <th>Job Title</th>
                    <th>Postdate</th>
                    <th>Deadline</th>
                  </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                  <tr>
                    <th scope="row">01</th>
                    <td>Marketing Assistant</td>
                    <td>21/3/18</td>
                    <td>30/6/18</td>
                  </tr>
                  <tr>
                    <th scope="row">02</th>
                    <td>Marketing Manager</td>
                    <td>21/3/18</td>
                    <td>30/6/18</td>
                  </tr>
                  <tr>
                    <th scope="row">03</th>
                    <td>Junior Officer</td>
                    <td>21/3/18</td>
                    <td>30/6/18</td>
                  </tr>
                  <tr>
                    <th scope="row">04</th>
                    <td>Senior Officer</td>
                    <td>21/3/18</td>
                    <td>30/6/18</td>

                  </tr>
                  <tr>
                    <th scope="row">05</th>
                    <td>Project Manager</td>
                    <td>21/3/18</td>
                    <td>30/6/18</td>

                  </tr>
                </tbody>
                <!--Table body-->
              </table>
            </div>
          </article>
          <article class="media tm-margin-b-20 tm-media-1">
            <img src="https://farm1.staticflickr.com/811/40235744705_a483b8dcd0_o.jpg" alt="Image" />
            <div class="media-body tm-media-body-1 tm-media-body-v-center">
              <h3 class="tm-font-semibold tm-article-title-3">We cultivate an environment that’s fun and rewards ingenuity, determination and diverse perspectives.</h3>
              <p>Please send me an email for job inquiry with your cv. Our email: jobs.navisor@gmail.com</p>

            </div>
          </article>

        </div>
      </div>
    </div>
  </div>
</div>