.header-buttons {
  width: 0;
  float: right;
  position: relative;
  text-align: right;
}

.userpic {
  height: 40px;
  align-content: center;
  border-radius: 50%;
}

.userpicimg {
  height: 40px;
}
