<div class="checkout-panel">
  <div class="panel-body">



    <div class="payment-method">
      <label id="creditCardLabel" for="card" class="method card" (click)="selectCreditCard()">
        <div class="card-logos">
          <img src="/assets/img/visa_logo.png" />
          <img src="/assets/img/mastercard_logo.png" />
        </div>

        <div class="radio-input">
          <input id="card" type="radio" name="payment"> Pay £340.00 with credit card
        </div>
      </label>

      <label id="payPalLabel" for="paypal" class="method paypal" (click)="selectPayPal()">
        <img src="/assets/img/paypal_logo.png" />
        <div class="radio-input">
          <input id="paypal" type="radio" name="payment"> Pay £340.00 with PayPal
        </div>
      </label>
    </div>

    <div class="input-fields">
      <div class="column-1">
        <label for="cardholder">Cardholder's Name</label>
        <input type="text" id="cardholder" />

        <div class="small-inputs">
          <div>
            <label for="date">Valid thru</label>
            <input type="text" id="date" placeholder="MM / YY" />
          </div>

          <div>
            <label for="verification">CVV / CVC *</label>
            <input type="password" id="verification" />
          </div>
        </div>

      </div>
      <div class="column-2">
        <label for="cardnumber">Card Number</label>
        <input type="password" id="cardnumber" />

        <span class="info">* CVV or CVC is the card security code, unique three digits number on the back of your card separate from its number.</span>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <button class="btn back-btn">Back</button>
    <button class="btn next-btn">Next Step</button>
  </div>
</div>