<mat-tab-group>
  <mat-tab label="Upcoming">
    <div *ngFor="let bookingId of upcomingBookings">
      <app-profile-event [bookingId]=bookingId></app-profile-event>
    </div>
  </mat-tab>
  <mat-tab label="Finished">
    <div *ngFor="let bookingId of finishedBookings">
      <app-profile-event [bookingId]=bookingId></app-profile-event>
    </div>
  </mat-tab>
  <mat-tab label="Cancelled">
    <div *ngFor="let bookingId of cancelledBookings">
      <app-profile-event [bookingId]=bookingId></app-profile-event>
    </div>
  </mat-tab>
</mat-tab-group>
