<div class="container">
  <div class="row">
    <div class="col-md-12 text-center ">
      <div class="panel panel-default">
        <div class="userprofile social ">
          <div class="userpic">
            <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Fnavigator%2Famy.png?alt=media&token=2adde141-99ad-4f17-ba01-ab026589bd6d"
              alt="" class="userpicimg"> </div>
          <h3 class="username">{{user.firstName}} {{user.lastName}}</h3>
          <p>{{user.address}}</p>
          <div class="socials tex-center">
            <a href="" class="btn btn-circle btn-primary fb-button ">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="" class="btn btn-circle btn-danger ">
              <i class="fa fa-instagram"></i>
            </a>
            <a href="" class="btn btn-circle btn-info ">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="" class="btn btn-circle btn-warning ">
              <i class="fa fa-envelope"></i>
            </a>
          </div>
        </div>
        <div class="col-md-12 border-top border-bottom">
          <ul class="nav nav-pills pull-left countlist" role="tablist">
            <li role="presentation">
              <h3>1452
                <br>
                <small>Reward Points</small>
              </h3>
            </li>
            <li role="presentation">
              <h3>***
                <br>
                <small>Review</small>
              </h3>
            </li>
            <li role="presentation">
              <h3>3
                <br>
                <small>Participated Activity</small>
              </h3>
            </li>
          </ul>
          <!-- <button class="btn btn-primary followbtn">Follow</button> -->
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- /.col-md-12 -->
    <div class="col-md-4 col-sm-12 pull-right">
      <!-- <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="page-header small">My Profile</h1>
          <p class="page-subtitle small">Limited information is visible</p>
        </div>
        <div class="col-md-12 photolist">
          <div class="row">
            <div class="col-sm-3 col-xs-3">
              <img src="" class="" alt=""> </div>
            <div class="col-sm-3 col-xs-3">
              <img src="" class="" alt=""> </div>
            <div class="col-sm-3 col-xs-3">
              <img src="" class="" alt=""> </div>
            <div class="col-sm-3 col-xs-3">
              <img src="" class="" alt=""> </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div> -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="page-header small">My Profile</h1>
          <!-- <p class="page-subtitle small">Like to work for different business</p> -->
        </div>
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item" (click)="switchTab('')">
              <span class="fa fa-user"></span> Profile
            </li>
            <li class="list-group-item" (click)="switchTab('schedule')">
              <span class="fa fa-calendar"></span> Schedule
            </li>
            <!-- <li class="list-group-item">
              <span class="fa fa-credit-card"></span> Payment Method
            </li> -->
            <li class="list-group-item">
              <span class="fa fa-gift"></span> Reward Points
            </li>
            <li class="list-group-item" (click)="switchTab('past-event')">
              <span class="fa fa-history"></span> Past Event
            </li>
            <li class="list-group-item" (click)="switchTab('language')">
              <span class="fa fa-language"></span> Languages
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="page-header small">What others are saying about me </h1>
          <p class="page-subtitle small"></p>
        </div>
        <div class="col-md-12">
          <div class="media">
            <div class="media-left">
              <a href="javascript:void(0)">
                <img src="" alt="" class="media-object"> </a>
            </div>
            <div class="media-body">
              <h4 class="page-header small">Ian Chan</h4>
              Amy is a passionate girl who has given me insight into the natural environment of Hong Kong. Thanks to her help, me and my
              family had a fruitful trip in HK.
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="javascript:void(0)">
                <img src="" alt="" class="media-object"> </a>
            </div>
            <div class="media-body">
              <h4 class="page-header small">Micheal Chau</h4>
              Amy is a energetic and outgoing girl. This is my first time in Hong Kong yet she makes me feel home! </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div> -->
      <!-- <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="page-header small">Recently Connected</h1>
          <p class="page-subtitle small">You have recemtly connected with 34 friends</p>
        </div>
        <div class="col-md-12">
          <div class="memberblock">
            <a href="" class="member">
              <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
              <div class="memmbername">Ajay Sriram</div>
            </a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div> -->
    </div>
    <div class="col-md-8 col-sm-12 pull-left posttimeline">
      <app-profile-edit *ngIf="tab === 'edit'"></app-profile-edit>
      <app-profile-past-event *ngIf="tab === 'past-event'"></app-profile-past-event>
      <app-profile-payment-method *ngIf="tab === 'payment-method'"></app-profile-payment-method>
      <app-profile-reward-points *ngIf="tab === 'reward-points'"></app-profile-reward-points>
      <app-profile-schedule *ngIf="tab === 'schedule'"></app-profile-schedule>
      <!-- <app-profile-edit></app-profile-edit> -->
      <!-- <app-profile-past-event></app-profile-past-event> -->
      <!-- <app-profile-reward-points></app-profile-reward-points> -->

      <!-- <div class="panel panel-default">
        <div class="panel-body">
          <div class="status-upload nopaddingbtm">
            <form>
              <textarea class="form-control" placeholder="What are you doing right now?"></textarea>
              <br>
              <ul class="nav nav-pills pull-left ">
                <li>
                  <a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio">
                    <i class="glyphicon glyphicon-bullhorn"></i>
                  </a>
                </li>
                <li>
                  <a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video">
                    <i class=" glyphicon glyphicon-facetime-video"></i>
                  </a>
                </li>
                <li>
                  <a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture">
                    <i class="glyphicon glyphicon-picture"></i>
                  </a>
                </li>
              </ul>
              <button type="submit" class="btn btn-success pull-right"> Share</button>
            </form>
          </div>
        </div>
    </div> -->
      <div class="panel panel-default">
        <!-- <div class="btn-group pull-right postbtn">
          <button type="button" class="dotbtn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="dots"></span>
          </button>
          <ul class="dropdown-menu pull-right" role="menu">
            <li>
              <a href="javascript:void(0)">Hide this</a>
            </li>
            <li>
              <a href="javascript:void(0)">Report</a>
            </li>
          </ul>
        </div> -->
        <!-- <div class="col-md-12">
          <div class="media">
            <div class="media-left">
              <a href="javascript:void(0)">
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="media-object"> </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Super Amy
                <br>
              </h4>
              <p>I love travelling and dancing every much.
              </p>
            </div>
          </div>
        </div> -->
      </div>
      <div class="panel panel-default">
        <!-- <div class="btn-group pull-right postbtn">
          <button type="button" class="dotbtn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="dots"></span>
          </button>
          <ul class="dropdown-menu pull-right" role="menu">
            <li>
              <a href="javascript:void(0)">Hide this</a>
            </li>
            <li>
              <a href="javascript:void(0)">Report</a>
            </li>
          </ul>
        </div> -->
        <!-- <div class="col-md-12">
          <div class="media">
            <div class="media-left">
              <a href="javascript:void(0)">
                <img src="" alt="" class="media-object"> </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"> Past Experience
                <br>
                <small>
                  <i class="fa fa-clock-o"></i> 2016 25-May Berlin, Germany</small>
              </h4>
              <p>This is my first time going to Germany. I have been to many historial sites and drank a lot of beers! </p>
              <ul class="nav nav-pills pull-left ">
                <li>
                  <a href="" title="">
                    <i class="glyphicon glyphicon-thumbs-up"></i> 2015</a>
                </li>
                <li>
                  <a href="" title="">
                    <i class=" glyphicon glyphicon-comment"></i> 25</a>
                </li>
                <li>
                  <a href="" title="">
                    <i class="glyphicon glyphicon-share-alt"></i> 15</a>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-md-12 border-top">
          <div class="status-upload">
            <form>
              <label>Comment</label>
              <textarea class="form-control" placeholder="Comment here"></textarea>
              <br>
              <ul class="nav nav-pills pull-left ">
                <li>
                  <a title="">
                    <i class="glyphicon glyphicon-bullhorn"></i>
                  </a>
                </li>
                <li>
                  <a title="">
                    <i class=" glyphicon glyphicon-facetime-video"></i>
                  </a>
                </li>
                <li>
                  <a title="">
                    <i class="glyphicon glyphicon-picture"></i>
                  </a>
                </li>
              </ul>
              <button type="submit" class="btn btn-success pull-right"> Comment</button>
            </form>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
