<mat-tab-group>
  <mat-tab label="Upcoming">
    <div *ngFor="let booking of upcomingBookings">
      <app-profile-event [booking]=booking></app-profile-event>
    </div>
  </mat-tab>
  <mat-tab label="Finished">
    <div *ngFor="let booking of finishedBookings">
      <app-profile-event [booking]=booking></app-profile-event>
    </div>
  </mat-tab>
  <mat-tab label="Cancelled">
    <div *ngFor="let booking of cancelledBookings">
      <app-profile-event [booking]=booking></app-profile-event>
    </div>
  </mat-tab>
</mat-tab-group>
