<div class="tm-bg-pink ie-container-width-fix-2">

  <form action="index.html" method="get" class="tm-search-form tm-section-pad-2">
    <h3 class="tm-color-white tm-sidebar-title">Reward Points</h3>
    <p class="fa fa-map-marker tm-sidebar-title">&nbsp;1,452</p>
    <p>Expiry Date: 31/12/2018</p>

    <div class="form-row tm-search-form-row">
      <div class="form-group tm-form-element tm-form-element-2">
        <button type="submit" class="btn btn-primary tm-btn-search">Redeem Gifts</button>
      </div>
    </div>
    <div class="form-row clearfix pl-2 pr-2 tm-fx-col-xs">
      <p class="tm-margin-b-0">Earn more reward points now to get incredible surprise!</p>

    </div>
  </form>
</div>