<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary event-primary">
                <div class="panel-heading">
                    <h2>Event Name</h2>
                </div>
                <div class="panel-body nopadding">
                    <img src="" alt="event image" class="img-responsive" />
                    <div class="row nopadding">
                        <div class="col-sm-6 nopadding">
                            <time class="start newyellow">
                                Start
                                <span class="day">20</span>
                                <span class="month">Apr</span>
                                <span class="year">2016</span>
                            </time>
                        </div>
                        <div class="col-sm-6 nopadding">
                            <time class="end newsolarizedyellow">
                                End
                                <span class="day">20</span>
                                <span class="month">Apr</span>
                                <span class="year">2016</span>
                            </time>
                        </div>
                    </div>
                </div>
                <div class="panel-footer panel-primary">
                    <p>Short description of event would go here.</p>
                    <a href="http://ulurudaytours.com.au/" class="btn newpalepink">Read more...</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary event-primary">
                <div class="panel-heading">
                    <h2>Event Name</h2>
                </div>
                <div class="panel-body nopadding">
                    <img src="" alt="event image" class="img-responsive" />
                    <div class="row nopadding">
                        <div class="col-sm-6 nopadding">
                            <time class="start newyellow">
                                Start
                                <span class="day">20</span>
                                <span class="month">Apr</span>
                                <span class="year">2016</span>
                            </time>
                        </div>
                        <div class="col-sm-6 nopadding">
                            <time class="end newsolarizedyellow">
                                End
                                <span class="day">20</span>
                                <span class="month">Apr</span>
                                <span class="year">2016</span>
                            </time>
                        </div>
                    </div>
                </div>
                <div class="panel-footer panel-primary">
                    <p>Short description of event would go here.</p>
                    <a href="http://ulurudaytours.com.au/" class="btn newpalepink">Read more...</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary event-primary">
                <div class="panel-heading">
                    <h2>Event Name</h2>
                </div>
                <div class="panel-body nopadding">
                    <img src="" alt="event image" class="img-responsive" />
                    <div class="row nopadding">
                        <div class="col-sm-6 nopadding">
                            <time class="start newyellow">
                                Start
                                <span class="day">20</span>
                                <span class="month">Apr</span>
                                <span class="year">2016</span>
                            </time>
                        </div>
                        <div class="col-sm-6 nopadding">
                            <time class="end newsolarizedyellow">
                                End
                                <span class="day">20</span>
                                <span class="month">Apr</span>
                                <span class="year">2016</span>
                            </time>
                        </div>
                    </div>
                </div>
                <div class="panel-footer panel-primary">
                    <p>Short description of event would go here.</p>
                    <a href="http://ulurudaytours.com.au/" class="btn newpalepink">Read more...</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary event-primary">
                    <div class="panel-heading">
                        <h2>Event Name</h2>
                    </div>
                    <div class="panel-body nopadding">
                        <img src="" alt="event image" class="img-responsive" />
                        <div class="row nopadding">
                            <div class="col-sm-6 nopadding">
                                <time class="start newyellow">
                                    Start
                                    <span class="day">20</span>
                                    <span class="month">Apr</span>
                                    <span class="year">2016</span>
                                </time>
                            </div>
                            <div class="col-sm-6 nopadding">
                                <time class="end newsolarizedyellow">
                                    End
                                    <span class="day">20</span>
                                    <span class="month">Apr</span>
                                    <span class="year">2016</span>
                                </time>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer panel-primary">
                        <p>Short description of event would go here.</p>
                        <a href="http://ulurudaytours.com.au/" class="btn newpalepink">Read more...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary event-primary">
                    <div class="panel-heading">
                        <h2>Event Name</h2>
                    </div>
                    <div class="panel-body nopadding">
                        <img src="" alt="event image" class="img-responsive" />
                        <div class="row nopadding">
                            <div class="col-sm-6 nopadding">
                                <time class="start newyellow">
                                    Start
                                    <span class="day">20</span>
                                    <span class="month">Apr</span>
                                    <span class="year">2016</span>
                                </time>
                            </div>
                            <div class="col-sm-6 nopadding">
                                <time class="end newsolarizedyellow">
                                    End
                                    <span class="day">20</span>
                                    <span class="month">Apr</span>
                                    <span class="year">2016</span>
                                </time>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer panel-primary">
                        <p>Short description of event would go here.</p>
                        <a href="http://ulurudaytours.com.au/" class="btn newpalepink">Read more...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary event-primary">
                    <div class="panel-heading">
                        <h2>Event Name</h2>
                    </div>
                    <div class="panel-body nopadding">
                        <img src="" alt="event image" class="img-responsive" />
                        <div class="row nopadding">
                            <div class="col-sm-6 nopadding">
                                <time class="start newyellow">
                                    Start
                                    <span class="day">20</span>
                                    <span class="month">Apr</span>
                                    <span class="year">2016</span>
                                </time>
                            </div>
                            <div class="col-sm-6 nopadding">
                                <time class="end newsolarizedyellow">
                                    End
                                    <span class="day">20</span>
                                    <span class="month">Apr</span>
                                    <span class="year">2016</span>
                                </time>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer panel-primary">
                        <p>Short description of event would go here.</p>
                        <a href="http://ulurudaytours.com.au/" class="btn newpalepink">Read more...</a>
                    </div>
                </div>
            </div>

    </div>
</div>