<div class="tm-main-content" id="top">
  <div class="tm-section tm-bg-img" id="tm-section-1">
    <div class="tm-bg-white ie-container-width-fix-2">
      <div class="container ie-h-align-center-fix">
        <div class="row">
          <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
            <form action="index.html" method="get" class="tm-search-form tm-section-pad-2">
              <div class="form-row tm-search-form-row">
                <div class="form-group tm-form-element tm-form-element-100">
                  <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
                  <input name="location" type="text" class="form-control" id="inputLocation" placeholder="Desired Location" [(ngModel)]="appGlobal.search.location">
                </div>
                <div class="form-group tm-form-element tm-form-element-50">
                  <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                  <input name="Start Date" type="date" class="form-control" id="inputStartDate" placeholder="Start Date" [(ngModel)]="appGlobal.search.startDate">
                </div>
                <div class="form-group tm-form-element tm-form-element-50">
                  <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                  <input name="End Date" type="date" class="form-control" id="inputEndDate" placeholder="End Date" [(ngModel)]="appGlobal.search.endDate">
                </div>
              </div>
              <div class="form-row tm-search-form-row">
                <div class="form-group tm-form-element tm-form-element-2">
                  <select name="theme" class="form-control tm-select" id="theme" [(ngModel)]="appGlobal.search.theme">
                    <option value="">Theme</option>
                    <option value="1">Cultural & Heritage</option>
                    <option value="2">Nature</option>
                    <option value="3">Foodie</option>
                    <option value="4">Photography</option>
                    <option value="5">University Tour</option>
                    <option value="6">Others</option>
                  </select>
                  <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
                </div>
                <div class="form-group tm-form-element tm-form-element-2">
                  <select name="budget" class="form-control tm-select" id="budget" [(ngModel)]="appGlobal.search.budget">
                    <option value="">Budget</option>
                    <option value="0">$500-$1, 000
                    </option>
                    <option value="1">$1, 000-$1500
                    </option>
                    <option value="2">$1, 500-$2, 000
                    </option>
                    <option value="3">&#62; $2, 000
                    </option>
                  </select>
                  <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                </div>
                <div class="form-group tm-form-element tm-form-element-2">
                  <select name="NumberOfTravellers" class="form-control tm-select" id="NumberOfTravellers" [(ngModel)]="appGlobal.search.numberOfTravellers">
                    <option value="">Number of travellers</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="10">&#62; 10
                    </option>
                  </select>
                  <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                </div>
                <div class="form-group tm-form-element tm-form-element-2">
                  <em class="fa fa-2x fa-user tm-form-element-icon"></em>
                  <input name="navigator" type="text" class="form-control" id="inputNavigator" placeholder="Name of Navigator" [(ngModel)]="appGlobal.search.nameOfNavigator">
                </div>
              </div>
              <div class="form-row clearfix pl-2 pr-2 tm-fx-col-xs">
                <p class="tm-margin-b-0">
                  <em>Search your desired travel plan now!</em>
                </p>
                <div class="form-group tm-form-element tm-form-element-2 tm-btn-search">
                  <em>
                    <button type="submit" class="btn btn-primary">Search</button>
                  </em>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tm-section-2">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="tm-section-title">Search Results</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="tm-section tm-position-relative">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
      <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>
    </svg>
  </div>
</div>
<div class="tm-section tm-section-pad tm-bg-gray flex-row" id="tm-section-4">
  <div class="container">
    <div class="card-deck row" *ngFor="let resultRow of results">
      <article class="card col-md-4 tm-bg-white" *ngFor="let result of resultRow">
        <app-search-result [result]=result></app-search-result>
      </article>
    </div>

  </div>
  &nbsp;</div>

<div>

  <footer class="footer-distributed">

    <div class="footer-right">

      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="#">
        <i class="fa fa-github"></i>
      </a>

    </div>

    <div class="footer-left">

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">About us</a>
        ·
        <a href="#">Register</a>
        ·
        <a href="#">Login In</a>
        ·
        <a href="#">Partnership</a>
        ·
        <a href="#">Contact</a>
      </p>

      <p>NAVISOR &copy; 2015</p>
    </div>

  </footer>
</div>
