<div class="tm-section tm-bg-img" id="tm-section-1">
  <div class="tm-bg-white ie-container-width-fix-2">
    <div class="container ie-h-align-center-fix">
      <div class="row">
        <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
          <!-- <form action="index.html" method="get" class="tm-search-form tm-section-pad-2">
            <div class="form-row tm-search-form-row">
              <div class="form-group tm-form-element tm-form-element-100">
                <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
                <input name="location" type="text" class="form-control" id="inputLocation" placeholder="Desired Location" [(ngModel)]="appGlobal.search.location"
                  (keypress)="updateSearch($event)">
              </div>
              <div class="form-group tm-form-element tm-form-element-50">
                <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                <input name="Start Date" type="date" class="form-control" id="inputStartDate" placeholder="Start Date" [(ngModel)]="appGlobal.search.startDate">
              </div>
              <div class="form-group tm-form-element tm-form-element-50">
                <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                <input name="End Date" type="date" class="form-control" id="inputEndDate" placeholder="End Date" [(ngModel)]="appGlobal.search.endDate">
              </div>
            </div>
            <div class="form-row tm-search-form-row">
              <div class="form-group tm-form-element tm-form-element-2">
                <select name="theme" class="form-control tm-select" id="theme" [(ngModel)]="appGlobal.search.theme">
                  <option value="">Theme</option>
                  <option value="1">Cultural & Heritage</option>
                  <option value="2">Nature</option>
                  <option value="3">Foodie</option>
                  <option value="4">Photography</option>
                  <option value="5">University Tour</option>
                  <option value="6">Others</option>
                </select>
                <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
              </div>
              <div class="form-group tm-form-element tm-form-element-2">
                <select name="budget" class="form-control tm-select" id="budget" [(ngModel)]="appGlobal.search.budget">
                  <option value="">Budget</option>
                  <option value="0">$500-$1,000</option>
                  <option value="1">$1,000-$1500</option>
                  <option value="2">$1,500-$2,000</option>
                  <option value="3">&#62; $2,000</option>
                </select>
                <i class="fa fa-2x fa-user tm-form-element-icon"></i>
              </div>
              <div class="form-group tm-form-element tm-form-element-2">
                <select name="NumberOfTravellers" class="form-control tm-select" id="NumberOfTravellers" [(ngModel)]="appGlobal.search.numberOfTravellers">
                  <option value="0">Number of travellers</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="10">&#62; 10</option>
                </select>
                <i class="fa fa-2x fa-user tm-form-element-icon"></i>
              </div>
              <div class="form-group tm-form-element tm-form-element-2">
                <em class="fa fa-2x fa-user tm-form-element-icon"></em>
                <input name="navigator" type="text" class="form-control" id="inputNavigator" placeholder="Name of Navigator" [(ngModel)]="appGlobal.search.nameOfNavigator">
              </div>
            </div>

            <div class="form-row clearfix pl-2 pr-2 tm-fx-col-xs">
              <p class="tm-margin-b-0 col-lg-3">
                <em>Search your desired travel plan now!</em>
              </p>

              <div class="form-group tm-form-element tm-form-element-2 tm-btn-search col-lg-9" style="width: 75%; padding: 0px;">
                <button type="submit" class="btn btn-primary" style="float:right;" (click)="search()">Search</button>
              </div>
            </div>
          </form> -->
          <form action="index.html" method="get" class="tm-search-form tm-section-pad-2">
            <div class="form-row tm-search-form-row">
              <div class="form-group tm-form-element tm-form-element-100 searchBox">
                <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
                <input name="location" type="text" class="form-control" id="inputLocation" placeholder="Desired Location" [(ngModel)]="appGlobal.search.location">
              </div>
              <div class="form-group tm-form-element tm-form-element-50 searchBox">
                <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                <input name="Start Date" type="date" class="form-control" id="inputStartDate" placeholder="Start Date" [(ngModel)]="appGlobal.search.startDate">
              </div>

            </div>
            <div class="form-row tm-search-form-row">
              <div class="form-group tm-form-element tm-form-element-500 searchBox">
                <select name="theme" class="form-control tm-select" id="theme" [(ngModel)]="appGlobal.search.theme">
                  <option value="">Duration</option>
                  <option value="1">1 day</option>
                  <option value="2">2 days</option>
                  <option value="3">3 days</option>
                  <option value="4">4 days</option>
                  <option value="5">5 days</option>
                  <option value="6">&#62; 5 days</option>
                </select>
                <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
              </div>

              <div class="form-group tm-form-element tm-form-element-500 searchBox">
                <select name="NumberOfTravellers" class="form-control tm-select" id="NumberOfTravellers" [(ngModel)]="appGlobal.search.numberOfTravellers">
                  <option value="0">Number of travellers</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="10">&#62; 10</option>
                </select>
                <i class="fa fa-2x fa-user tm-form-element-icon"></i>
              </div>

            </div>

            <div class="form-row clearfix pl-2 pr-2 tm-fx-col-xs">
              <p class="tm-margin-b-0">
                <em>Search your desired travel plan now!</em>
              </p>
              <div class="form-group tm-form-element tm-form-element-2 tm-btn-search">
                <em>
                  <button type="submit" class="btn btn-primary">Search</button>
                </em>
              </div>
              <div class="form-group tm-form-element tm-form-element-2 tm-btn-customize">
                <em>
                  <button type="submit" class="btn btn-primary">Customize Travel Plan</button>
                </em>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tm-section-2">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h5 class="tm-section-title-1">"We endeavor to provide travellers around the world with customized local trips in Hong Kong"</h5>
        <p class="tm-color-white tm-section-subtitle">Subscribe to get our newsletters</p>
        <form action="/subscribe.php">
          <input type="text" name="emailAddress" value="email address">
          <input href="#" class="tm-color-white tm-btn-white-bordered" type="submit" value="Subscribe Newletters">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="tm-pb-4 tm-position-relative">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
    <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>
  </svg>
</div>

<div class="tm-section tm-section-pad tm-bg-gray" id="tm-section-4">
  <div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="tm-article-carousel">
          <ngx-carousel [inputs]="Config">
            <ngx-item NgxCarouselItem *ngFor="let trip of suggestTrips">
              <article class="tm-bg-white mr-2 tm-carousel-item">
                <img src="{{trip.photoUrl}}" alt="Image" class="img-fluid">
                <div class="tm-article-pad">
                  <header>
                    <h3 class="text-uppercase tm-article-title-2">{{trip.name}}</h3>
                  </header>
                  <p>{{trip.description}}</p>
                  <a href="#" class="text-uppercase btn-primary tm-btn-primary">View Details</a>
                </div>
              </article>
            </ngx-item>
            <button NgxCarouselPrev class="leftRs">&lt;</button>
            <button NgxCarouselNext class="rightRs">&gt;</button>
          </ngx-carousel>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-recommended-container">
        <div class="tm-bg-white">
          <div class="tm-bg-primary tm-sidebar-pad">
            <h3 class="tm-color-white tm-sidebar-title">Recommended Trips</h3>
            <p class="tm-color-white tm-margin-b-0 tm-font-light">Let's check out the lastest and hottest places in Hong Kong visited by other travellers! </p>
          </div>
          <div class="tm-sidebar-pad-2">
            <a href="#" class="media tm-media tm-recommended-item">
              <img class="recommendedTrips" src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FrecommendedTrips%2Fcultural%26heritage%2FfinalCourtOfAppeal.jpg?alt=media&token=8fcc3d39-853d-4a17-9bf7-f88512af41c8"
                alt="Image">
              <div class="media-body tm-media-body tm-bg-gray">
                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Cultual & Heritage</h4>
              </div>
            </a>
            <a href="#" class="media tm-media tm-recommended-item">
              <img class="recommendedTrips" src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FrecommendedTrips%2Fnature%2Fgeopark.jpg?alt=media&token=5c144d6e-af8b-4a6d-a377-edd159ad7c3a"
                alt="Image">
              <div class="media-body tm-media-body tm-bg-gray">
                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Nature</h4>
              </div>
            </a>
            <a href="#" class="media tm-media tm-recommended-item">
              <img class="recommendedTrips" src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FrecommendedTrips%2Ffoodie%2FdimSum.jpg?alt=media&token=2118ab38-b1ae-4965-bcee-a546cbba3a22"
                alt="Image">
              <div class="media-body tm-media-body tm-bg-gray">
                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Foodie</h4>
              </div>
            </a>
            <a href="#" class="media tm-media tm-recommended-item">
              <img class="recommendedTrips" src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FrecommendedTrips%2Fphotography%2FsaiWanPier.jpg?alt=media&token=5f3afc66-4f66-41f4-a742-c329532c44b0"
                alt="Image">
              <div class="media-body tm-media-body tm-bg-gray">
                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Photography</h4>
              </div>
            </a>
            <a href="#" class="media tm-media tm-recommended-item">
              <img class="recommendedTrips" src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FrecommendedTrips%2FuniTour%2FHKUWall.jpg?alt=media&token=5860b684-22e5-4bd0-bb7d-b43981d8536a"
                alt="Image">
              <div class="media-body tm-media-body tm-bg-gray">
                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">University Tour</h4>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" tm-pt-5 tm-pb-4 tm-section-8" id="tm-section-4">
  <!--class = "container" -->
  <h1 id="aboutUs" class="text-uppercase tm-section-title-2 text-center">About Us</h1>
  <br>
  <p class="paraText">Hong Kong has long been praised as a “shopping haven” and is famous for its numerous tourist attractions. Through engaging
    in the local trips from traditional package tour, travellers usually visit popular travellers spots like Tsim Sha Tsui
    and Mongkok for shopping, the Peak for sightseeing and Ocean Park for recreating. Yet, they lack the opportunities to
    explore the other sides of Hong Kong, for example the natural scenery, local cuisines, heritage and nightlife.
  </p>
  <p class="paraText">
    We endeavor to provide travellers around the world with customized local trips where they will have a brand new experience
    in exploration of the fantasy in Hong Kong. With our young, energetic “navigators” who are aged from 18 to 40, travellers
    can indulge themselves in the unique culture and beauty of Hong Kong and act like a local!
  </p>
  <p class="paraText">Interested in being a Hong Kong local for one day or some days? With Navisor, you can customize your own local trips simply
    by browsing our website on your phone or laptop. Time, budget, theme of the trip, etc. can all be under your control.
    Having no idea of where to visit, what to experience in Hong Kong? Our “navigators” could offer the most authentic travelling
    itineraries to you.
  </p>
</div>
<div class="container tm-pb-4" id="tm-section-4">
  <h1 class="text-uppercase tm-section-title-2 text-center">Founders</h1>
  <div class="row text-center">
    <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Ffounder%2Fandy.jpg?alt=media&token=d62adcc0-5ee7-4804-befc-36ff560de104"
        alt="Andy" style="width:150px; height:150px;">
      <h3 class="tm-color-primary tm-article-title-1">Andy</h3>
      <p>HKU BBA(IS) Year 4
        <br> Sport Association Exco 2014-15</p>
      <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
    </article>
    <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Ffounder%2Ferwin.jpg?alt=media&token=ed62bf88-b205-4601-80ca-10a7f4b63635"
        alt="Erwin" style="width:150px; height:150px;">
      <h3 class="tm-color-primary tm-article-title-1">Erwin</h3>
      <p>HKU BBA(IS) Year 4
        <br> samll potato</p>
      <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
    </article>
    <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Ffounder%2Fthomas.jpg?alt=media&token=b2defffc-9555-4952-bfac-e99f03cc0cd1"
        alt="Thomas" style="width:150px; height:150px;">
      <h3 class="tm-color-primary tm-article-title-1">Thomas</h3>
      <p>HKU BBA(IS) Year 4
        <br> St.John's College Exco 2015-16</p>
      <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
    </article>
  </div>
</div>

<div class="tm-bg-video">


  <video id="homeVideo" class="tmVideo" autoplay controls muted onloadedmetadata="this.muted = true" ng-click="videoControl($event)">
    <source src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fvideo%2Fvideo.mp4?alt=media&token=cccbd037-7c06-427f-a5e2-89a7de60aec3"
      type="video/mp4">
  </video>
</div>

<div class="tm-pt-5 tm-pb-4 tm-section-6">
  <h1 class="text-uppercase tm-section-title-2 text-center meetOurNavigatorSection">Meet our Navigators</h1>
  <div class="row text-center">
    <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article" *ngFor="let navigator of suggestNavigator">
      <img src="{{navigator.pic}}" alt="{{navigator.name}}" style="width:150px; height:150px; border-radius:50%">
      <h3 class="tm-color-primary tm-article-title-1">{{navigator.name}}</h3>
      <p>{{navigator.description}}</p>
    </article>
    <a href="#" class="text-uppercase btn-primary tm-btn-primary joinUsBtn" (click)="gotoCareer()">Join Us</a>
  </div>
</div>

<div class="container tm-pb-4" id="tm-section-4">
  <h1 id="partnership" class="text-uppercase tm-section-title-2 text-center">Partnership</h1>
  <div class="row">
    <article class="col-sm-3 col-md-3 col-lg-3">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FpartnerLogo%2FhkjcLogo.jpg?alt=media&token=c120c2b3-6275-4fff-971d-2bb89c086b73"
        alt="HKJC" style="width:auto; height:60%;">
    </article>
    <article class="col-sm-3 col-md-3 col-lg-3">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FpartnerLogo%2FlcsdLogo.gif?alt=media&token=f648777f-673d-47cf-885b-2493f4d50a74"
        alt="LCSD">
    </article>
    <article class="col-sm-3 col-md-3 col-lg-3">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FpartnerLogo%2FttoeLogo.jpg?alt=media&token=4e3aeca3-390f-4567-a9e1-89c9823853ee"
        alt="TTOE" style="width:60%; height:auto;">
    </article>
    <article class="col-sm-3 col-md-3 col-lg-3">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FpartnerLogo%2FchristyCafeLogo.jpg?alt=media&token=638fb0d6-f2f4-4946-85bb-e4fb938d406e"
        alt="CCafe" style="width:100%; height:auto;">
    </article>
    <article class="col-sm-3 col-md-3 col-lg-3">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FpartnerLogo%2FpeakTramwaysLogo.png?alt=media&token=0766ef3f-8d77-4738-a0f8-489f1b560d34"
        alt="tramway" style="width:100%; height:auto;">
    </article>
    <article class="col-sm-3 col-md-3 col-lg-3">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FpartnerLogo%2F1881Logo.png?alt=media&token=4c903dc6-5095-4af5-a4a7-9f585744c352"
        alt="1881" style="width:60%; height:auto;">
    </article>
    <article class="col-sm-3 col-md-3 col-lg-3">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FpartnerLogo%2FoceanParkLogo.jpg?alt=media&token=18df3bc6-045f-402b-a56c-7c258b76924d"
        alt="oceanPark" style="width:100%; height:auto;">
    </article>
    <article class="col-sm-3 col-md-3 col-lg-3">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FpartnerLogo%2FtenRenLogo.png?alt=media&token=c3b944ad-fce6-4386-a414-f044b92326bf"
        alt="tenRen" style="width:100%; height:auto;">
    </article>
  </div>
</div>

<h1 class="text-uppercase tm-section-title-2 text-center">Contact Us</h1>
<div class="tm-section tm-section-pad tm-bg-img tm-position-relative" id="contactUs">
  <div class="container ie-h-align-center-fix">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-7">
        <div id="google-map">
          <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=KKL%20601%20Building%2C%20The%20University%20of%20Hong%20Kong%2C%20Pokfulam%2C%20HK&key=AIzaSyBwbFp_0RkA3m3SVzxbaRoC-NvCH0la-gY"
            allowfullscreen>
          </iframe>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 mt-3 mt-md-0">
        <div class="tm-bg-white tm-p-4">
          <form action="index.html" method="post" class="contact-form">
            <div class="form-group">
              <p>Office Hour: Monday - Friday 9:30-18:00</p>
              <p>KKL 601 Building, The University of Hong Kong, Pokfulam, HK</p>
              <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name" required [(ngModel)]="contact.name"
              />
            </div>
            <div class="form-group">
              <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email" required [(ngModel)]="contact.email"
              />
            </div>
            <div class="form-group">
              <input type="text" id="contact_subject" name="contact_subject" class="form-control" placeholder="Subject" required [(ngModel)]="contact.subject"
              />
            </div>
            <div class="form-group">
              <textarea id="contact_message" name="contact_message" class="form-control" rows="9" placeholder="Message" required [(ngModel)]="contact.msg"></textarea>
            </div>
            <button type="submit" class="btn btn-primary tm-btn-primary" (click)="sendContactMessage()">Send Message Now</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>