<div class="tm-section tm-bg-img" id="tm-section-1">
  <div class="tm-bg-white ie-container-width-fix-2">
    <div class="container ie-h-align-center-fix">
      <div class="row">
        <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
          <form action="index.html" method="get" class="tm-search-form tm-section-pad-2">
            <div class="form-row tm-search-form-row">
              <div class="form-group tm-form-element tm-form-element-100">
                <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
                <input name="location" type="text" class="form-control" id="inputLocation" placeholder="Desired Location" [(ngModel)]="appGlobal.search.location">
              </div>
              <div class="form-group tm-form-element tm-form-element-50">
                <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                <input name="Start Date" type="date" class="form-control" id="inputStartDate" placeholder="Start Date" [(ngModel)]="appGlobal.search.startDate">
              </div>
              <div class="form-group tm-form-element tm-form-element-50">
                <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                <input name="End Date" type="date" class="form-control" id="inputEndDate" placeholder="End Date" [(ngModel)]="appGlobal.search.endDate">
              </div>
            </div>
            <div class="form-row tm-search-form-row">
              <div class="form-group tm-form-element tm-form-element-2">
                <select name="theme" class="form-control tm-select" id="theme" [(ngModel)]="this.appGlobal.search.theme">
                  <option *ngFor="let theme of themes" [value]="theme" [attr.selected]="theme == 'Theme'">
                    {{theme}}
                  </option>
                </select>
                <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
              </div>
              <div class="form-group tm-form-element tm-form-element-2">
                <select name="budget" class="form-control tm-select" id="budget" [(ngModel)]="appGlobal.search.budget">
                  <option *ngFor="let budget of budgets" value="budget">{{budget}}</option>
                </select>
                <i class="fa fa-2x fa-user tm-form-element-icon"></i>
              </div>
              <div class="form-group tm-form-element tm-form-element-2">
                <select name="NumberOfTravellers" class="form-control tm-select" id="NumberOfTravellers" [(ngModel)]="appGlobal.search.numberOfTravellers">
                  <option *ngFor="let numberOfTraveller of numberOfTravellers" value="numberOfTraveller">{{numberOfTraveller}}</option>
                </select>
                <i class="fa fa-2x fa-user tm-form-element-icon"></i>
              </div>
              <div class="form-group tm-form-element tm-form-element-2">
                <em class="fa fa-2x fa-user tm-form-element-icon"></em>
                <input name="navigator" type="text" class="form-control" id="inputNavigator" placeholder="Name of Navigator" [(ngModel)]="appGlobal.search.nameOfNavigator">
              </div>
            </div>

            <div class="form-row clearfix pl-2 pr-2 tm-fx-col-xs">
              <p class="tm-margin-b-0">
                <em>Search your desired travel plan now!</em>
              </p>

              <div class="form-group tm-form-element tm-form-element-2 tm-btn-search">
                <em>
                  <button type="submit" class="btn btn-primary" (click)="search()">Search</button>
                </em>
              </div>

            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="tm-section-2">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h5 class="tm-section-title-1">"We endeavor to provide travellers around the world with customized local trips in Hong Kong"</h5>
        <p class="tm-color-white tm-section-subtitle">Subscribe to get our newsletters</p>
        <form action="/subscribe.php">
          <input type="text" name="emailAddress" value="email address">
          <input href="#" class="tm-color-white tm-btn-white-bordered" type="submit" value="Subscribe Newletters">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="tm-pb-4 tm-position-relative">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
    <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>
  </svg>
</div>

<div class="tm-section tm-section-pad tm-bg-gray" id="tm-section-4">
  <div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="tm-article-carousel">
          <ngx-carousel [inputs]="Config">
            <ngx-item NgxCarouselItem>
              <article class="tm-bg-white mr-2 tm-carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Fimg-01.jpg?alt=media&token=86b77455-9052-48e4-be25-98d870fd612f"
                  alt="Image" class="img-fluid">
                <div class="tm-article-pad">
                  <header>
                    <h3 class="text-uppercase tm-article-title-2">Night view from the peak</h3>
                  </header>
                  <p>Here is the peak.</p>
                  <a href="#" class="text-uppercase btn-primary tm-btn-primary">Get More Info.</a>
                </div>
              </article>
            </ngx-item>
            <ngx-item NgxCarouselItem>
              <article class="tm-bg-white mr-2 tm-carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Fimg-02.jpg?alt=media&token=622bc5c4-adb7-41a2-adb1-13afcb1b0668"
                  alt="Image" class="img-fluid">
                <div class="tm-article-pad">
                  <header>
                    <h3 class="text-uppercase tm-article-title-2">Boat ride in the victoria habour</h3>
                  </header>
                  <p>Boat trip.</p>
                  <a href="#" class="text-uppercase btn-primary tm-btn-primary">View Detail</a>
                </div>
              </article>

            </ngx-item>
            <ngx-item NgxCarouselItem>
              <article class="tm-bg-white mr-2 tm-carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Fimg-03.jpg?alt=media&token=0459d797-8ac4-47b0-be1d-0c5f41086a89"
                  alt="Image" class="img-fluid">
                <div class="tm-article-pad">
                  <header>
                    <h3 class="text-uppercase tm-article-title-2">St. John's Cathedral</h3>
                  </header>
                  <p>One of the oldest church in Hong Kong.</p>
                  <a href="#" class="text-uppercase btn-primary tm-btn-primary">More Info.</a>
                </div>
              </article>

            </ngx-item>
            <ngx-item NgxCarouselItem>
              <article class="tm-bg-white mr-2 tm-carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Fimg-04.jpg?alt=media&token=93e9653d-425f-4a00-b23e-f2a60a6a22fd"
                  alt="Image" class="img-fluid">
                <div class="tm-article-pad">
                  <header>
                    <h3 class="text-uppercase tm-article-title-2">Mong Kok Ladies' Market</h3>
                  </header>
                  <p>You can do shopping here!</p>
                  <a href="#" class="text-uppercase btn-primary tm-btn-primary">Detail Info.</a>
                </div>
              </article>
            </ngx-item>
            <ngx-item NgxCarouselItem>
              <article class="tm-bg-white mr-2 tm-carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Fimg-05.jpg?alt=media&token=66600295-fbca-4646-8941-7796545ffcc4"
                  alt="Image" class="img-fluid">
                <div class="tm-article-pad">
                  <header>
                    <h3 class="text-uppercase tm-article-title-2">Lai Chi Wo Village</h3>
                  </header>
                  <p>The village resides next to a geopark.</p>
                  <a href="#" class="text-uppercase btn-primary tm-btn-primary">Read More</a>
                </div>
              </article>

            </ngx-item>
            <ngx-item NgxCarouselItem>
              <article class="tm-bg-white tm-carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Fimg-06.jpg?alt=media&token=97261f4d-73e4-4fc2-b7f7-f49daef99d12"
                  alt="Image" class="img-fluid">
                <div class="tm-article-pad">
                  <header>
                    <h3 class="text-uppercase tm-article-title-2">Graffiti on Graham Street</h3>
                  </header>
                  <p>This is a nice place to take photos.</p>
                  <a href="#" class="text-uppercase btn-primary tm-btn-primary">More Details</a>
                </div>
              </article>

            </ngx-item>

            <button NgxCarouselPrev class="leftRs">&lt;</button>
            <button NgxCarouselNext class="rightRs">&gt;</button>
          </ngx-carousel>



          <!-- <ngb-carousel>
            <ng-template ngbSlide>
              <img src="https://lorempixel.com/900/500?r=4" alt="Random first slide">
              <div class="carousel-caption">
                <h3>10 seconds between slides...</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="https://lorempixel.com/900/500?r=5" alt="Random second slide">
              <div class="carousel-caption">
                <h3>No keyboard...</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="https://lorempixel.com/900/500?r=6" alt="Random third slide">
              <div class="carousel-caption">
                <h3>And no wrap after last slide.</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
          </ngb-carousel> -->
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-recommended-container">
        <div class="tm-bg-white">
          <div class="tm-bg-primary tm-sidebar-pad">
            <h3 class="tm-color-white tm-sidebar-title">Recommended Trips</h3>
            <p class="tm-color-white tm-margin-b-0 tm-font-light">Let's check out the lastest and hottest places in Hong Kong visited by other travellers! </p>
          </div>
          <div class="tm-sidebar-pad-2">
            <a href="#" class="media tm-media tm-recommended-item">
              <img class="recommendedTrips" src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FrecommendedTrips%2Fcultural%26heritage%2FfinalCourtOfAppeal.jpg?alt=media&token=8fcc3d39-853d-4a17-9bf7-f88512af41c8"
                alt="Image">
              <div class="media-body tm-media-body tm-bg-gray">
                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Cultual & Heritage</h4>
              </div>
            </a>
            <a href="#" class="media tm-media tm-recommended-item">
              <img class="recommendedTrips" src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FrecommendedTrips%2Fnature%2Fgeopark.jpg?alt=media&token=5c144d6e-af8b-4a6d-a377-edd159ad7c3a"
                alt="Image">
              <div class="media-body tm-media-body tm-bg-gray">
                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Nature</h4>
              </div>
            </a>
            <a href="#" class="media tm-media tm-recommended-item">
              <img class="recommendedTrips" src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FrecommendedTrips%2Ffoodie%2FdimSum.jpg?alt=media&token=2118ab38-b1ae-4965-bcee-a546cbba3a22"
                alt="Image">
              <div class="media-body tm-media-body tm-bg-gray">
                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Foodie</h4>
              </div>
            </a>
            <a href="#" class="media tm-media tm-recommended-item">
              <img class="recommendedTrips" src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FrecommendedTrips%2Fphotography%2FsaiWanPier.jpg?alt=media&token=5f3afc66-4f66-41f4-a742-c329532c44b0"
                alt="Image">
              <div class="media-body tm-media-body tm-bg-gray">
                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Photography</h4>
              </div>
            </a>
            <a href="#" class="media tm-media tm-recommended-item">
              <img class="recommendedTrips" src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2FrecommendedTrips%2FuniTour%2FHKUWall.jpg?alt=media&token=5860b684-22e5-4bd0-bb7d-b43981d8536a"
                alt="Image">
              <div class="media-body tm-media-body tm-bg-gray">
                <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">University Tour</h4>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container tm-pt-5 tm-pb-4">
  <h1 class="text-uppercase tm-section-title-2 text-center">About Us</h1>
  <p>We are ........</p>
  <h1 class="text-uppercase tm-section-title-2 text-center">Founders</h1>
  <div class="row text-center">
    <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Ffounder%2Fandy.jpg?alt=media&token=d62adcc0-5ee7-4804-befc-36ff560de104"
        alt="Andy" style="width:150px; height:150px;">
      <h3 class="tm-color-primary tm-article-title-1">Andy</h3>
      <p>HKU BBA(IS) Year 4
        <br> Sport Association Exco 2014-15</p>
      <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
    </article>
    <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Ffounder%2Ferwin.jpg?alt=media&token=ed62bf88-b205-4601-80ca-10a7f4b63635"
        alt="Erwin" style="width:150px; height:150px;">
      <h3 class="tm-color-primary tm-article-title-1">Erwin</h3>
      <p>HKU BBA(IS) Year 4
        <br> samll potato</p>
      <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
    </article>
    <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Ffounder%2Fthomas.jpg?alt=media&token=b2defffc-9555-4952-bfac-e99f03cc0cd1"
        alt="Thomas" style="width:150px; height:150px;">
      <h3 class="tm-color-primary tm-article-title-1">Thomas</h3>
      <p>HKU BBA(IS) Year 4
        <br> St.John's College Exco 2015-16</p>
      <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
    </article>
  </div>
</div>

<div class="tm-bg-video">
  <div class="overlay">
    <i class="fa fa-5x fa-play-circle tm-btn-play"></i>
    <i class="fa fa-5x fa-pause-circle tm-btn-pause"></i>
  </div>

  <video controls="" loop="" class="tmVideo">
    <source src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fvideo%2Fvideo.mp4?alt=media&token=cccbd037-7c06-427f-a5e2-89a7de60aec3"
      type="video/mp4">
  </video>
</div>

<div class="container tm-pt-5 tm-pb-4">
  <h1 class="text-uppercase tm-section-title-2 text-center">Meet our Navigators</h1>
  <div class="row text-center">
    <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Fnavigator%2Famy.jpg?alt=media&token=97b8de08-1ea3-4834-9a11-c36abef4a69c"
        alt="Amy" style="width:150px; height:150px;">
      <h3 class="tm-color-primary tm-article-title-1">Amy</h3>
      <p>HKU BBA(IS) Year 4</p>
      <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
    </article>
    <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Fnavigator%2Fann.jpg?alt=media&token=716cae0c-8250-422c-9d10-9c583cf1a567"
        alt="Ann" style="width:150px; height:150px;">
      <h3 class="tm-color-primary tm-article-title-1">Ann</h3>
      <p>HKU BBA(IS) Year 4
        <br> Magic Club Exco 2014-15</p>
      <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
    </article>
    <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
      <img src="https://firebasestorage.googleapis.com/v0/b/navisor-b9b70.appspot.com/o/home%2Fimg%2Fnavigator%2Fhong.jpg?alt=media&token=dae3690b-b2df-4ac2-8ae8-659f634daab9"
        alt="Hong" style="width:150px; height:150px;">
      <h3 class="tm-color-primary tm-article-title-1">Hong</h3>
      <p>HKU BBA(IS) Year 4</p>
      <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
    </article>
    <a href="#" class="text-uppercase btn-primary tm-btn-primary">Join Us</a>
  </div>
</div>

<div class="tm-section tm-section-pad tm-bg-img tm-position-relative" id="tm-section-6">
  <div class="container ie-h-align-center-fix">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-7">
        <div id="google-map">
          <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyA778sssK6IwYi0E_SkFIm7lHJPyUFi_t0&origin=St.+John's+Cathedral,Hong+Kong&waypoints=Former+Central+Police+Station+Compound|Whitestone+Gallery+HK+Hollywood+Road&destination=Hong+Kong+City+Hall&avoid=tolls|highways"
            allowfullscreen>
          </iframe>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 mt-3 mt-md-0">
        <div class="tm-bg-white tm-p-4">
          <form action="index.html" method="post" class="contact-form">
            <div class="form-group">
              <p>Office Hour: Monday - Friday 9:30-18:00</p>
              <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name" required [(ngModel)]="contact.name"
              />
            </div>
            <div class="form-group">
              <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email" required [(ngModel)]="contact.email"
              />
            </div>
            <div class="form-group">
              <input type="text" id="contact_subject" name="contact_subject" class="form-control" placeholder="Subject" required [(ngModel)]="contact.subject"
              />
            </div>
            <div class="form-group">
              <textarea id="contact_message" name="contact_message" class="form-control" rows="9" placeholder="Message" required [(ngModel)]="contact.msg"></textarea>
            </div>
            <button type="submit" class="btn btn-primary tm-btn-primary" (click)="sendContactMessage()">Send Message Now</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="tm-bg-dark-blue">
  <div class="container">
    <div class="row">
      <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
        Copyright &copy;
        <span class="tm-current-year">2018</span>
        <a class="tm-color-primary tm-font-normal" (click)="appGlobal.gotoHome()">Navisor</a>
      </p>
    </div>
  </div>
</footer>