<h1 *ngIf="loading">Loading...</h1>
<div id="paypal-button"></div>
<input type="number" [(ngModel)]="finalAmount" />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="VRDYJYL5D2VXS">
  <table>
    <tr>
      <td>
        <input type="hidden" name="on0" value="Price">Price</td>
    </tr>
    <tr>
      <td>
        <select name="os0">
          <option value="Option 1">Option 1 $1.00 HKD</option>
        </select>
      </td>
    </tr>
  </table>
  <input type="hidden" name="currency_code" value="HKD">
  <input type="image" src="https://www.paypalobjects.com/en_GB/HK/i/btn/btn_buynowCC_LG_wCUP.gif" border="0" name="submit"
    alt="PayPal – The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>
