<div class="tm-section-2">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="tm-section-title">Travel Plan Booked</h2>

        <p class="tm-color-white tm-section-subtitle">Congratulations to your successful booking. Please save the following details for your reference.</p>
        <a href="#" class="tm-color-white tm-btn-white-bordered">BACK TO home page</a>
      </div>
    </div>
  </div>
</div>

<div class="tm-section tm-position-relative">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
    <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>
  </svg>

</div>

<div class="tm-section tm-section-pad tm-bg-img" id="tm-section-5">
  <div class="container ie-h-align-center-fix">
    <div class="row tm-flex-align-center">
      <div class="col-xs-12 col-md-12 col-lg-3 col-xl-3 tm-media-title-container">
        <h2 class="text-uppercase tm-section-title-2">Your Booked Plan</h2>
        <h3 class="tm-color-primary tm-font-semibold tm-section-subtitle-2">Plan Details</h3>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-9 col-xl-9 mt-0 mt-sm-3">
        <div class="ml-auto tm-bg-white-shadow tm-pad tm-media-container">
          <article class="media tm-margin-b-20 tm-media-1">
            <img src="img/img-03.jpg" alt="Image">
            <div class="media-body tm-media-body-1 tm-media-body-v-center">
              <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">Suspendisse vel est libero sem phasellus ac laoreet</h3>
              <p>Integer libero purus, consectetur vitae posuere quis, maximus id diam. Vivamus eget tellus ornare, sollicitudin
                quam id, dictum nulla. Phasellus finibus rhoncus justo, tempus eleifend neque dictum ac. Aenean metus leo,
                consectetur non.
                <br>
                <br> Etiam aliquam arcu at mauris consectetur scelerisque. Integer elementum justo in orci facilisis ultricies.
                Pellentesque at velit ante. Duis scelerisque metus vel felis porttitor gravida.</p>

              <div id="ButtonsGroup" align="center">

                <div>
                  <a href="#" class="text-uppercase btn-primary tm-btn-primary-1">Mark Calendar</a>
                </div>

                <div>
                  <a href="#" class="text-uppercase btn-primary tm-btn-primary-2">Contact Navigator</a>
                </div>

                <div>
                  <a href="#" class="text-uppercase btn-primary tm-btn-primary-3">Cancel Booking</a>
                </div>
              </div>
            </div>
          </article>


        </div>

      </div>
    </div>
  </div>
</div>



<footer class="tm-bg-dark-blue">
  <div class="container">
    <div class="row">
      <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
        Copyright &copy;
        <span class="tm-current-year">2018</span> Navisor - Designed by
        <a href="http://www.tooplate.com" class="tm-color-primary tm-font-normal" target="_parent">Navisor</a>
      </p>
    </div>
  </div>
</footer>
