<!-- <div class="container">
  <div>
    <label>Email: </label>
    <input type="email" required [(ngModel)]="email">
  </div>
  <div>
    <label>Password: </label>
    <input type="password" required [(ngModel)]="password">
  </div>
  <div>
    <label>Retype Password: </label>
    <input type="password" required [(ngModel)]="passwordCheck">
  </div>
  <div>
    <label>Name: </label>
    <input type="text" required [(ngModel)]="name">
  </div>
  <div>
    <label>birthday: </label>
    <input type="date" required [(ngModel)]="birthday">
  </div>
  <div>
    <label>Account Type: </label>
    <label>Traveller: </label>
    <input name="acType" type="radio" value="0" required [(ngModel)]="userType">
    <label>Navigator: </label>
    <input name="acType" type="radio" value="1" required [(ngModel)]="userType">
  </div>
  <button (click)="register()">Register</button>
</div> -->

<!-- <body background="bgimage.jpg"> -->

<div class="container">
  <form>
    <div class="row">
      <h4>Account</h4>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Username" required [(ngModel)]="email" />
        <div class="input-icon">
          <i class="fa fa-user"></i>
        </div>
      </div>
      <div class="input-group input-group-icon">
        <input type="email" placeholder="Email Adress" required [(ngModel)]="email" />
        <div class="input-icon">
          <i class="fa fa-envelope"></i>
        </div>
      </div>
      <div class="input-group input-group-icon">
        <input type="password" placeholder="Password" required [(ngModel)]="password" />
        <div class="input-icon">
          <i class="fa fa-key"></i>
        </div>
      </div>
      <div class="input-group input-group-icon">
        <input type="password" placeholder="Retype Password" [(ngModel)]="passwordCheck" />
        <div class="input-icon">
          <i class="fa fa-key"></i>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-half">
        <h4>Date of Birth</h4>
        <div class="input-group">
          <div class="col-third">
            <input type="text" placeholder="DD" />
          </div>
          <div class="col-third">
            <input type="text" placeholder="MM" />
          </div>
          <div class="col-third">
            <input type="text" placeholder="YYYY" />
          </div>
        </div>
      </div>


      <div class="col-half">
        <h4>Account Type</h4>
        <div class="input-group">
          <input type="radio" name="Account_Type" value="navigator" id="Account_Type-navigator" [(ngModel)]="userType" />
          <label for="Account_Type-navigator">navigator</label>
          <input type="radio" name="Account_Type" value="traveller" id="Account_Type-traveller" [(ngModel)]="userType" />
          <label for="Account_Type-traveller">traveller</label>
        </div>
      </div>
    </div>

    <div class="row">
      <h4>Terms and Conditions</h4>
      <div class="input-group">
        <input type="checkbox" id="terms" />
        <label for="terms">I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label>
      </div>
    </div>
  </form>
</div>
